:root {
  --bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNcmldcDwAFTQIHiCCwiAAAAABJRU5ErkJggg==);
}

$branco: #FFFFFF;
$preto: #000000;
$cinza: #696969;
$cinzaClaro: #C4C4C4;
$cinzaClarissimo: #D9D9D9;
$roxo: #9B1982;
$roxoTransparente: rgba(155, 25, 130, 0.85);
$amarelo: #FAE14B;
$amareloPastel: #FFF5DC;
$cobreEscuro: #A56E73;
$cobreClaro: #D2B4AF;
$sombra: rgba(0, 0, 0, 0.25);