<div class="container">
  <div class="tagline">

    <div class="logo">
      <img width="162" src="img/logo.svg" alt="logo" />
    </div>

    <h1>
      <span><strong>Em Ouro Preto (MG)</strong></span>
      <span>o melhor time de <strong>dentistas</strong> está à sua disposição</span>
      <span>na clínica Aurora Odontologia.</span>
    </h1>

    <p>
      Valorize o seu sorriso. Cuide-se.
      Tenha um #sorrisoaurora.
    </p>

    <div class="actions">
      <a class="action-button" target="_blank" href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
        <span>Agende sua consulta</span>
      </a>

      <a class="action-button-inverse" href="https://auroraodontologia.com.br">
        <span>Conheça a clínica</span>
      </a>
    </div>
  </div>
</div>